header, footer {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap !important;
    align-content: flex-start !important;
    color: #0a2a5c;
    background-image: linear-gradient(to right,#2a80c7,#4085c6,#528ecc,#75a2d4,#a4acbf,#bbc6e2);
    font-family: 'Lobster', cursive;
    padding-bottom: 35px;
    padding-top: 35px;
    font-size: 3em;
}
body{
    background-size: cover;
    background-position: center;
    background-image:url("images/sunlight.jpg") ;
    font-family: 'Lobster', cursive;
}
tr{
    font-family: 'Lobster', cursive;
    background-color: #0a2a5c;
    color: white;
}
section{
    justify-content: center;
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}
.heading{
    color: #0a2a5c;
    justify-content: center;
    text-align: center;
    font-size: 3em;
}
button{
    color: #fff;
    background-color: #0a2a5c;
    border-color: #2e6da4;
    padding: 5px;
    border-radius: 5px;
}
tr{
    margin-right: 5px;
    margin-left: 5px;
}







